body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1130px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:54px;
  top:20px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:346px;
  top:21px;
  width:67px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:920px;
  top:16px;
  width:47px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:115px;
  top:20px;
  width:181px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
